<html lang="en" ng-app="MopidyApp" ng-controller="AppCtrl">
<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic" rel="stylesheet">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/material-webclient/css/angular-material.min.css" rel="stylesheet">
    <link href="/material-webclient/css/app.min.css" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title ng-bind="title"></title>
</head>
<body ng-cloak layout="column">
    <div layout="row" flex layout-fill>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')">
            <img src="images/audio_mix.jpg" class="img-responsive" style="height: 10em;"/>
            <md-list>
                <md-list-item ng-click="goTo('/queue')">
                    <md-icon>queue</md-icon>
                    <p>Queue</p>
                </md-list-item>
                <md-list-item ng-click="goTo('/library')">
                    <md-icon>library_music</md-icon>
                    <p>Library</p>
                </md-list-item>
                <md-list-item ng-click="goTo('/playlists')">
                    <md-icon>queue_music</md-icon>
                    <p>Playlists</p>
                </md-list-item>
                <md-list-item ng-click="goTo('/settings')" ng-if="settings && settings.system_settings !== 'disabled'">
                    <md-icon>settings</md-icon>
                    <p>Settings</p>
                </md-list-item>
                <md-list-item ng-click="system($event)" ng-if="settings && settings.power_control !== 'disabled'">
                    <md-icon>power_settings_new</md-icon>
                    <p>System</p>
                </md-list-item>
            </md-list>
            <md-card>
                <md-card-content>
                    <md-slider min="0" max="100" ng-model="volume.value" aria-label="volume"></md-slider>
                </md-card-content>
            </md-card>
        </md-sidenav>
        <div layout="column" id="content" layout-fill>
            <md-toolbar layout="column" class="md-whiteframe-z2">
                <div class="md-toolbar-tools" layout="row">
                    <md-button ng-click="toggleSidenav('left')" hide-gt-lg class="md-icon-button">
                        <md-icon>menu</md-icon>
                    </md-button>
                    <span flex>{{ heading }}</span>
                </div>
            </md-toolbar>
            <md-content layout="column" flex>
                <div ng-view></div>
            </md-content>
            <md-toolbar layout="column" class="md-whiteframe-z4 md-accent" ng-if="nowPlaying && showNowPlaying">
                <div class="md-toolbar-tools" layout="row">
                    <img class="now-playing-avatar" ng-src="{{ nowPlaying.album.images[0] }}" alt="{{ nowPlaying.name }}" ng-if="nowPlaying.album.images.length > 0" />
                    <span flex>{{ nowPlaying.name }} - {{ nowPlaying.artists[0].name }}</span>
                    <md-button class="md-icon-button" ng-if="state != 'playing'" ng-click="play()">
                        <md-icon>play_arrow</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-if="state == 'playing'" ng-click="pause()">
                        <md-icon>pause</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
        </div>
    </div>
    <script src="/mopidy/mopidy.js"></script>
    <script src="/material-webclient/scripts/angular.min.js"></script>
    <script src="/material-webclient/scripts/angular-animate.min.js"></script>
    <script src="/material-webclient/scripts/angular-aria.min.js"></script>
    <script src="/material-webclient/scripts/angular-material.min.js"></script>
    <script src="/material-webclient/scripts/angular-route.min.js"></script>
    <script src="/material-webclient/scripts/lodash.min.js"></script>
    <script src="/material-webclient/scripts/app.min.js"></script>
</body>
</html>
