<div layout="row" layout-align="center center" ng-if="!tracks">
    <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
</div>
<section layout="row" layout-align="center center" ng-if="tracks">
    <md-button class="groupX md-icon-button" ng-click="save($event)" ng-if="tracks.length > 0">
        <md-icon>save</md-icon>
    </md-button>
    <md-button class="groupX md-icon-button" ng-click="previous()">
        <md-icon>fast_rewind</md-icon>
    </md-button>
    <md-button class="groupX md-icon-button" ng-click="next()">
        <md-icon>fast_forward</md-icon>
    </md-button>
    <md-button class="groupX md-icon-button" ng-click="toggleRandom()" ng-class="randomOn ? 'md-accent' : ''">
        <md-icon class="fa" md-font-icon="fa-random"></md-icon>
    </md-button>
    <md-button class="groupX md-icon-button" ng-click="toggleRepeat()" ng-class="repeatOn ? 'md-accent' : ''">
        <md-icon class="fa" md-font-icon="fa-repeat"></md-icon>
    </md-button>
</section>
<md-list>
    <md-list-item class="md-3-line" ng-repeat="t in tracks track by t.tlid" ng-click="play(t)">
        <img ng-src="{{ t.track.album.images[0] }}" class="md-avatar" alt="{{ t.track.name }}" ng-if="t.track.album.images[0].length > 0" />
        <div class="md-list-item-text">
            <h3>{{ t.track.name }}</h3>
            <h4>{{ t.track.artists[0].name }}</h4>
            <p ng-if="track.comment">{{ t.track.comment }}</p>
            <p ng-if="!track.comment">{{ t.track.album.name }}</p>
        </div>
    </md-list-item>
</md-list>