<div layout="row" layout-align="center center" ng-if="!tracks" layout-padding>
    <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-if="tracks.length == 0" flex layout-padding layout-align="center center">
    <md-card flex="50">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Nothing to see here!</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>Browse your <a class="md-button md-accent" href="#/library">library</a>
                or one of your <a class="md-button md-accent" href="#/playlists">playlists</a>
                for some inspiration</p>
        </md-card-content>
    </md-card>
</div>
<div layout-gt-md="row" layout="column" ng-if="tracks.length > 0">
    <div flex-gt-md="33" flex>
        <md-card id="mod-now-playing-card" ng-if="playing">
            <img ng-if="playing.track.album.images.length > 0" ng-src="{{ playing.track.album.images[playing.track.album.images.length - 1] }}" class="md-card-image" alt="{{ playing.track.name }}">
            <md-card-content>
                <h2 class="md-title">{{ playing.track.name }}</h2>
                <h3 class="md-subhead" ng-if="playing.artists.length > 0">{{ playing.track.artists[0].name }}</h3>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-menu>
                    <md-button aria-label="More things" class="md-icon-button" ng-click="$mdOpenMenu()">
                        <md-icon>more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button class="md-primary" ng-click="toggleRandom()" ng-class="randomOn ? 'md-accent' : ''">
                                <md-icon class="fa" md-font-icon="fa-random"></md-icon>
                                Random
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-primary" ng-click="toggleRepeat()" ng-class="repeatOn ? 'md-accent' : ''">
                                <md-icon class="fa" md-font-icon="fa-repeat"></md-icon>
                                Repeat
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button class="md-accent" ng-click="save($event)">
                                <md-icon>save</md-icon>
                                Save Queue
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-accent" ng-click="setConsume()">
                                <md-icon class="fa" md-font-icon="fa-refresh"></md-icon>
                                Consume Queue
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-accent" ng-click="clear()">
                                <md-icon>clear</md-icon>
                                Clear Queue
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-button class="md-primary md-icon-button" ng-click="previous()">
                    <md-icon>fast_rewind</md-icon>
                </md-button>
                <md-button class="md-primary md-icon-button" ng-click="play()">
                    <md-icon class="md-accent" ng-if="state != 'playing'">play_arrow</md-icon>
                    <md-icon class="md-accent" ng-if="state == 'playing'">pause</md-icon>
                </md-button>
                <md-button class="md-primary md-icon-button" ng-click="next()">
                    <md-icon>fast_forward</md-icon>
                </md-button>
            </div>
        </md-card>
    </div>
    <div flex layout-fill>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="t in tracks" ng-click="play(t)">
                <md-icon class="md-accent" ng-if="t.tlid == playing.tlid && state != 'playing'">play_arrow</md-icon>
                <md-icon class="md-accent" ng-if="t.tlid == playing.tlid && state == 'playing'">pause</md-icon>
                <div class="md-list-item-text" ng-class="{'md-offset': (t.tlid != playing.tlid) }">
                    <h3>{{ t.track.name }}</h3>
                    <h4>{{ t.track.artists[0].name }}</h4>
                    <p ng-if="track.comment">{{ t.track.comment }}</p>
                    <p ng-if="!track.comment">{{ t.track.album.name }}</p>
                </div>
                <md-icon class="md-secondary" aria-label="Remove" ng-click="remove(t)">clear</md-icon>
            </md-list-item>
        </md-list>
    </div>
</div>
