<section>
    <md-subheader class="md-primary"><md-icon>wifi</md-icon> Network</md-subheader>
    <div layout-padding>
        <md-select ng-model="settings.network.wifi_network" placeholder="Select network">
            <md-option ng-repeat="network in wifi track by $index" value="{{ network }}">{{ network }}</md-option>
        </md-select>
        <md-input-container>
            <label for="network_wifi_password">Wifi Password</label>
            <input type="password" name="network_wifi_password" ng-model="settings.network.wifi_password" size="10" maxlength="40"/>
        </md-input-container>
        <md-input-container>
            <label for="network_name">Name</label>
            <input type="text" name="network_name" ng-model="settings.network.hostname" size="10" maxlength="9"/>
        </md-input-container>
    </div>
</section>
<h2 class="md-title" layout-padding>Services</h2>
<section>
    <md-subheader class="md-primary"><md-icon class="fa" md-font-icon="fa-headphones"></md-icon> TuneIn</md-subheader>
    <div layout-padding>
        <md-switch ng-model="settings.tunein.enabled" aria-label="Enabled">Enabled</md-switch>
    </div>
</section>
<section>
    <md-subheader class="md-primary"><md-icon class="fa" md-font-icon="fa-rss"></md-icon> Podcasts</md-subheader>
    <div layout-padding>
        <md-switch ng-model="settings.podcast.enabled" aria-label="Enabled">Enabled</md-switch>
    </div>
</section>
<section>
    <md-subheader class="md-primary"><md-icon class="fa" md-font-icon="fa-spotify"></md-icon> Spotify</md-subheader>
    <div layout-padding>
        <md-switch ng-model="settings.spotify.enabled" aria-label="Enabled">Enabled</md-switch>
        <md-input-container>
            <label>Username</label>
            <input type="text" name="spotify.username" ng-model="settings.musicbox.spotify_username" />
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input type="text" name="spotify.password" ng-model="settings.musicbox.spotify_password" />
        </md-input-container>
    </div>
</section>
<section>
    <md-subheader class="md-primary"><md-icon class="fa" md-font-icon="fa-soundcloud"></md-icon> Soundcloud</md-subheader>
    <div layout-padding>
        <md-switch ng-model="settings.soundcloud.enabled" aria-label="Enabled">Enabled</md-switch>
        <p class="md-caption">
            If you want to use SoundCloud, you must first authenticate your installation to access your SoundCloud account. To do that,
            go to <a href="http://www.mopidy.com/authenticate" target="_blank">http://www.mopidy.com/authenticate</a>
        </p>
        <md-input-container>
            <label>Token</label>
            <input type="text" name="soundcloud_auth_token" ng-model="settings.soundcloud.auth_token" />
        </md-input-container>
    </div>
</section>
<md-button ng-click="save()" class="md-raised md-accent">
    Save and restart
</md-button>